# --- Maven e Java ---
target/
*.class
*.jar
*.war
*.ear
*.factorypath
.mvn/
db/

# --- Angular e Frontend ---
node_modules/
dist/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- IDEs (VS Code e IntelliJ) ---
.settings/
.project/
.classpath
.factorypath
.idea/
*.iml
*.iws
.vscode/
!.vscode/extensions.json

# --- Sistema Operacional ---
Thumbs.db
.DS_Store